@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

.header {
    padding: 50px 0 45px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__btn{
        display: none;
    }
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 30px;
    }

    &__list-link {
        cursor: pointer;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: $nav;
        padding: 5px 0;
        transition: all 0.3s;

        &:hover {
            border-bottom: 1px solid $main;
        }
    }
}

.user-nav {
    display: flex;

    &__search {
        width: 51px;
        height: 51px;
        background-color: rgba($grey, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 21px;
    }

    &__btns {
        width: 178px;
        height: 51px;
        background-color: $accent;
        border-radius: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 11px;
        margin-right: 18px;
    }

    &__btn {
        padding: 10px 30px;
        position: relative;

        &:first-child {
            border-right: 1px solid rgba(#fff, .2);
        }
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 3px;
        right: 20px;
        font-size: 10px;
        color: #243f4d;
        text-align: center;
        line-height: 16px;
        background-color: #fff;
        @extend %rubik-400;
    }

    &__burger {
        width: 51px;
        height: 51px;
        background-color: $grey;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.top-slider {
    &__inner {
        background-color: $accent;
        padding: 100px 0 45px;
    }

    &__item {
        justify-content: center;
        display: flex !important;
        padding-bottom: 15px;
    }

    &__content {
        margin-right: 120px;
        padding-left: 10px;
        padding-top: 120px;
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        max-width: 420px;
        text-transform: uppercase;
        color: #243f4d;
        margin-bottom: 45px;
    }

    &__text {
        color: $nav;
        max-width: 360px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 38px;
        margin-bottom: 40px;
    }

    &__btn {
        background-color: $grey;
        padding: 23px 100px 20px 27px;
        border: none;
        cursor: pointer;
        color: #fff;
        @extend %rubik-500;
        font-size: 15px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 22px;
            height: 9px;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-image: url("../images/icons/arrow.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            button {
                width: 30px;
                height: 29px;
                background-color: rgba(#ffffff, 0.3);
                border: none;
                border-radius: 50%;
                @extend %rubik-500;
                font-size: 11px;
            }

            &:not(:last-child) {
                margin-right: 11px;
            }
        }

        .slick-active {
            background-color: #fff;
            border-radius: 50%;
        }

    }
}

.info__inner {
    background-color: rgba($accent, 0.2);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.info__card {
    display: flex;
    justify-content: center;
    padding: 45px 0;

    &:not(:last-child) {
        border-right: 1px solid rgba(#243f4d, 0.1)
    }

    &-img {
        margin-right: 30px;
    }

    &-title {
        @extend %dmsans-700;
        color: #414141;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &-text {
        @extend %dmsans-400;
        color: #585858;
        font-size: 16px;
        line-height: 30px;
    }
}

.products {
    padding: 70px 0 185px;

    &__title {
        margin-bottom: 40px;
    }

    &__buttons {
        text-align: center;
        margin-bottom: 80px;
    }

    &__btn {
        border: none;
        cursor: pointer;
        background: transparent;
        color: #8b8b8b;
        @extend %dmsans-700;
        font-size: 16px;
    }

    .mixitup-control-active {
        color: #1a1a1a;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }


}

.product {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 10px;
        background-color: #ffffff;
        padding: 30px 20px 35px;
        position: relative;
        .star-product{
            display: none;
        }
        .product__item-text{
            display: none;
        }
        .product__item-btn{
            display: none;
        }
        &:hover {
            .product__item-cover {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__item-img {
        margin-bottom: 70px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__item-title {
        @extend %dmsans-500;
        color: #243f4d;
        font-size: 16px;
        margin-bottom: 15px;
    }

    &__item-price {
        @extend %dmsans-700;
        font-size: 16px;
        color: $grey;
        text-align: center;
    }

    &__item-links {
        display: flex;
    }

    &__item-link {
        width: 45px;
        height: 45px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #ffffff;
        border-radius: 50%;
        margin: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            background-color: $grey;

            .product__item-icon path {
                fill: #fff;
            }
        }
    }
    &__item-icon{
        border: none;
        background-color: transparent;
    }
    &__item-icon path {
        fill: $grey;
    }

    &__item-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
}

.offer {
    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        margin: 0 auto;
    }

    &__card {
        background-color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 85px;
    }

    &__card-img {
        margin-right: 30px;
        margin-top: -100px
    }

    &__card-title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
        margin-bottom: 30px;
        max-width: 255px;
    }

    &__card-text {
        @extend %rubik-400;
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 330px;
    }

    &__card-link {
        display: flex;
        align-items: center;
        background-color: transparent;
        @extend %rubik-500;
        font-size: 15px;
        color: $nav;
        position: relative;
        border-radius: 5px;
        border: 1px solid #436372;
        padding: 20px 24px 20px 24px;
        max-width: 180px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-image: url("../images/icons/offer-arrow.svg");
            width: 22px;
            height: 9px;
        }
    }
}

.new {
    padding: 100px 0 120px;

    &__title {
        margin-bottom: 30px;
    }

    &__buttons {
        text-align: center;
        margin-bottom: 80px;
    }

    &__btn {
        border: none;
        cursor: pointer;
        background: transparent;
        color: #8b8b8b;
        @extend %dmsans-700;
        font-size: 16px;
    }

    .mixitup-control-active {
        color: #1a1a1a;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }

    &__item {
        background-color: #f8f8f8;
        padding: 43px 0 30px 36px;
    }

    &__item-title {
        max-width: 170px;
        margin-bottom: 20px;
        @extend %dmsans-700;
        font-size: 20px;
        line-height: normal;
    }

    &__item-text {
        @extend %dmsans-700;
        font-size: 16px;
        color: $grey;
    }

    &__item-img {
        img {
            margin-left: auto;
        }
    }
}

.video-fashion__popup {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    padding-top: 115px;

    &__top {
        margin-bottom: 300px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        text-align: left;
    }

    &__link {
        @extend %dmsans-700;
        font-size: 16px;
        position: relative;
        padding-right: 25px;

        &:after {
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            background-image: url("../images/icons/shevron.svg");
            width: 7px;
            height: 12px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: -515px 0 90px;
    }

    &__card {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-img {
        width: 100%;

        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__card-content {
        padding: 0 25px;
        margin-top: -15px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
    }

    &__card-link {
        color: #fff;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 103px;
        height: 30px;
        border-radius: 15px;
        font-size: 14px;
        @extend %dmsans-700;
        margin-bottom: 20px;
    }

    &__card-text {
        @extend %dmsans-500;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 15px;
        color: inherit;
        display: block;
        flex: 1 1 auto;
    }

    &__card-footer {
        border-top: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        padding: 20px 0;
        @extend %rubik-400;
        font-size: 12px;
        color: #222933;
    }

    &__card-date {
        width: 50%;
        color: inherit;
    }
    &__card-person{
        width: 50%;
        color: inherit;
    }
}

.brands {
    background-color: $accent;
    padding: 265px 0 90px;
    &--empty{
        padding: 90px 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 10px;
    }
}
.mission{
    padding: 120px 0;
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        flex: 0 1 570px;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    &__content{
        margin-left: 50px;
    }
    &__content-top{
        display: flex;
        align-items: flex-end;
        margin-bottom: 50px;
    }
    &__content-number{
        color: $grey;
        font-size: 140px;
        @extend %rubik-700;
        line-height: 115px;
    }
    &__content-descr{
        max-width: 80px;
        margin-left: 30px;
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
    }
    &__content-title{
        font-size: 36px;
        @extend %dmsans-700;
        color: #243f4d;
        margin-bottom: 50px;
    }
    &__content-text{
        max-width: 560px;
        @extend %rubik-400;
        color: #243f4d;
        line-height: 30px;
        margin-bottom: 60px;
    }
    &__content-footer{
        padding-top: 35px;
        border-top: 3px solid rgba(#09316f, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content-item{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 57px;
        &:before{
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
        }
    }
    &__content-item--1::before{
        background-image: url("../images/icons/mission1.svg");
        width: 37px;
        height: 38px;
    }
    &__content-item--2::before{
        background-image: url("../images/icons/mission2.svg");
        width: 44px;
        height: 40px;
    }
    &__content-item--3::before{
        background-image: url("../images/icons/mission3.svg");
        width: 43px;
        height: 42px;
    }
    &__content-num{
        font-size: 36px;
        @extend %dmsans-700;
        line-height: 38px;
    }
    &__content-name{
        color: #4c4c4c;
        @extend %dmsans-700;
        font-size: 16px;
    }
}
.advantage{
    padding: 80px 0;
    background-color: $accent;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__card-img{
        display: inline-block;
        margin-bottom: 20px;
    }
    &__card-num{
        color: #243f4d;
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    &__card-text{
        color: #243f4d;
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
    }
}
.team{
    padding: 120px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__inner-descr{
        flex: 0 0 25%;
    }
    &__descr-title{
        margin-bottom: 35px;
        text-align: left;
    }
    &__descr-text{
        max-width: 310px;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        margin-bottom: 40px;
    }
    &__descr-link{
        background-color: $grey;
        text-transform: uppercase;
        color: #fff;
        @extend %dmsans-700;
        font-size: 15px;
        padding: 16px 53px 16px 15px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 20px;
            right: 15px;
            width: 15px;
            height: 11px;
            background-image: url("../images/icons/arrow-white.svg");
        }
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 100px;
        flex: 0 0 65%;
    }
    &__card{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        align-items: flex-end;
        height: 320px;
    }
    &__card-content{
        width: 88%;
        z-index: 1;
        box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
        background-color: #ffffff;
        margin-bottom: -63px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 30px 20px 28px 24px;
    }
    &__card-name{
        @extend %dmsans-700;
        font-size: 22px;
        margin-bottom: 20px;
        color: $nav;
    }
    &__card-position{
        color: #565872;
        @extend %rubik-400;
        font-size: 16px;
    }
    &__card-list{
        display: flex;
    }
    &__card-item{
        &:not(:last-child){
            margin-right: 7px;
        }
    }
    &__card-link{
        width: 41px;
        height: 41px;
        background-color: #f6f6f6;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.terms{
    padding-top: 120px;
    &__item{
        margin-bottom: 70px;
        .terms__list{
            padding-left: 40px;
            list-style-type: decimal-leading-zero;
        }
    }
    &__title{
        color: #243f4d;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &__list-item{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__text{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
    }
}
.form{
    max-width: 470px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    &__label{
        display: block;
        @extend %rubik-400;
        color: $nav;
        font-size: 14px;
        margin-bottom: 28px;
    }
    &__input{
        display: block;
        margin-top: 15px;
        width: 100%;
        height: 60px;
        border: 2px solid #f6f6f6;
        padding: 10px;
    }
    &__btn{
        background-color: $grey;
        color: #fff;
        padding: 20px;
        @extend %rubik-500;
        font-size: 18px;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;
    }
    &__links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 2px solid #f6f6f6;
        margin-bottom: 30px;
        align-items: flex-start;
    }
    &__link{
        @extend %rubik-400;
        font-size: 14px;
        color: $nav;
    }
    &__input--check{
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-top: 0;
    }
    &__label--check{
        margin-bottom: 0;
    }
    &__text{
        @extend %rubik-400;
        text-align: center;
        font-size: 14px;
        color: $nav;
        margin-bottom: 24px;
    }
    &__link-reg{
        background-color: transparent;
        border: 2px solid #a3bbc8;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        padding: 23px;
        color: $nav;
        @extend %rubik-700;
    }
}
.shop{
    padding: 120px 0;
    &__inner{
        display: flex;
    }
    &-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 40px;
        margin-bottom: 100px;
    }
}
.shop-filter{
    width: 270px;
    margin-right: 30px;
    &__item{
        margin-bottom: 75px;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 18px;
        color: #243f4d;
        text-transform: uppercase;
        text-align-last: left;
        position: relative;
        padding-right: 56px;
        margin-bottom: 30px;
        display: inline-block;
        &::after{
            content: "";
            position: absolute;
            width: 39px;
            height: 3px;
            border-radius: 1px;
            background-color: $grey;
            top: 8px;
            right: 0;
        }
    }
    &__card{
        display: flex;
    }
    &__card:not(:last-child){
        margin-bottom: 23px;
    }
    &__card-image{
        width: 70px;
        height: 70px;
        border: 2px solid #f2f2f2;
        background-color: rgba(255, 255, 255, 0.96);
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    &__card-img{
        object-fit: contain;
    }
    &__content{
        padding-left: 20px;
    }
    &__card-title{
        color: #333333;
        @extend %rubik-400;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .star{
        margin-bottom: 10px;
        padding-left: 0;
    }
    &__card-price{
        font-size: 15px;
        color: #333333;
        @extend %rubik-400;
    }
}
.filter-category{
    &__label{
        width: 270px;
        height: 43px; 
        display: block;
        cursor: pointer;
    }
    &__input{
        @extend %checkbox-hidden;
        &:checked + .filter-category__checkbox{
            background-color: rgba($grey, 0.2);
        }
    }
    &__checkbox{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
        background-color: #fff;
        padding: 13px 22px 13px 14px;
        border-radius: 5px;      
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 18px;
            right: 22px;
            background-image: url("../images/icons/arrow-right.svg");
            width: 6px;
            height: 10px;
        }
    }
}
.filter-price{
    &__label{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    &__from,
    &__to{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 14px;
        position: relative;
        padding-left: 10px;
        &:before{
            content: "$";
            position: absolute;
            top: 0;
            left: 0;

        }
    }
}
.irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background-color: rgba($grey, 0.66);
    border-radius: 1px;
}
.irs-from, 
.irs-to, 
.irs-single,
.irs-min, 
.irs-max {
    display: none;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
    background-color: $grey;
}
.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: $grey;
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.filter-brand{
    &__label{
        cursor: pointer;
        display: block;
    }
    &__input{
        @extend %checkbox-hidden;
        &:checked + .filter-brand__checkbox{
            background-color: rgba($grey, 0.2);
            color: #243f4d;
            span{
                &:last-child{
                    color: #243f4d;
                }
            }
        }
    }
    &__checkbox{
        background-color: #fff;
        color: #243f4d;
        display: flex;
        justify-content: space-between;
        padding: 15px 24px 15px 15px;
        span{
            &:last-child{
                color: #b3b3b3;
            }
        }
    }
}
.details-main{
    padding: 120px 0;
    display: flex;
    &__sliders{
        display: flex;
        width: 550px;
        margin-right: 70px;
    }
    &__small{
        width: 140px;
        margin-right: 25px;
    }
    &__small-item{
        width: 138px;
        height: 160px;
        border: 2px solid #f2f2f2;
        img{
            width: 138px;
            height: 160px;
            object-fit: contain;
        }
    }
    &__big{
        width: 390px;
    }
    &__big-item{
        width: 100%;
        height: 530px;
        border: 2px solid #f2f2f2;
        padding: 63px 77px;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    .slick-vertical .slick-slide {
        height: 160px;
        margin-bottom: 25px;
    }
}
.details-card{
    &__title{
        margin-bottom: 15px;
        @extend %rubik-400;
        font-size: 40px;
        color: #333333;
    }
    &__stars{
        margin-bottom: 35px;
    }
    &__price{
        margin-bottom: 35px;       
        color: #333333;
        @extend %rubik-400;
        font-size: 30px;

    }
    &__text{
        color: #243f4d;
        line-height: 38px;
        @extend %rubik-400;
        font-size: 16px;
        margin-bottom: 35px;
    }
    &__counter{
        margin-bottom: 35px;
        display: flex;
    }
    &__form{
        margin-right: 15px;
        display: flex;
    }
    &__btn,
    &__input{
        border: 1px solid #a3bbc8;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
        font-size: 15px;
        @extend %rubik-400;
        width: 50px;
        cursor: pointer;       
        &:not(:last-child){
            border-right: none;
        }
    }
    &__input{
        display: inline-block;
        text-align: center;
    }

    &__button{
        border: none;
        cursor: pointer;
        background-color: $grey;
        color: #fff;
        font-size: 15px;
        @extend %rubik-400;
        width: 208px;
        height: 53px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
    }
}
.shop-main--two{
    .pagination__list{
        justify-content: flex-start;
    }
    .shop-content{
        display: block;
    }
    .product__item{
        box-shadow: none;
        flex-direction: row;
        padding: 0;
    }
    .product__item:not(:last-child){
        margin-bottom: 40px;
    }
    .product__item-img{
        border: 2px solid #f2f2f2;
        background-color: rgba(255, 255, 255, 0.96);
        width: 370px;
        height: 501px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .product__item-content{
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product__item-title{
        color: #333333;
        font-size: 40px;
        margin-bottom: 25px;
    }
    .star-product{
        display: block;
        margin-bottom: 35px;
    }
    .product__item-price{
        color: #333333;
        text-align: left;
        font-size: 30px;
        margin-bottom: 35px;
    }
    .product__item-text{
        display: block;
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        max-width: 410px;
        margin-bottom: 35px;
    }
    .product__item-cover{
        display: none;
    }
    .product__item-btn{
        background-color: $grey;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        @extend %rubik-400;
        padding: 16px 50px;
        display: block;
        border: none;
        max-width: 210px;
    }
}

.footer-top {
    padding: 75px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($grey, 0.4);

    &__logo {
        display: inline-block;
        margin-bottom: 30px;
    }

    &__column {
        max-width: 170px;

        &--address {
            max-width: 195px;
        }

        &--form {
            max-width: 275px;
        }
    }

    &__address,
    &__phone,
    &__mail,
    &__link,
    &__text {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: $footer;
    }

    &__address {
        margin-bottom: 20px;
    }

    &__phone {
        margin-bottom: 20px;
    }

    &__title {
        @extend %dmsans-700;
        color: #1f2044;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        padding-top: 20px;
    }

    &__item:not(:last-child) {
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 35px;
        max-width: 235px;
    }

    &__form {
        display: flex;
    }

    &__input {
        background-color: $accent;
        padding: 11px 15px;
        border: none;
        width: 100%;
        font-size: 14px;

        &::placeholder {
            @extend %dmsans-400;
            font-size: 12px;
        }
    }

    &__btn {
        border: none;
        @extend %dmsans-400;
        color: #fff;
        background-color: $grey;
        font-size: 14px;
        padding: 10px 15px;
        cursor: pointer;
    }
}
.footer-bottom {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy,
    &__link {
        @extend %rubik-400;
        font-size: 14px;
        color: $footer;
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 0 15px;

        &:not(:last-child) {
            border-right: 1px solid $footer;
        }
    }
}
.details-other{
    &__tabs{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    &__tab{
        width: 241px;
        height: 53px;
        border-radius: 5px;
        background-color: rgba($grey, 0.2);
        color: #243f4d;
        @extend %rubik-500;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
            margin-right: 13px;
        }
    }
    &__tab--active{
        background-color: $grey;
        color: #fff;
    }
    &__text{
        color: #243f4d;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 120px;
    }
    &__title{
        margin-bottom: 70px;
        text-align: left;
    }
    &__item{
        display: none;

    }
    &__item--active{
        display: block;
    }
    .details-slider__slide{
        height: 380px;
        padding: 15px;
    }
    .product__item{
        height: 380px;
    }
    .slick-prev,
    .slick-next{
        position: absolute;
        top: -120px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 5;
        background-color: transparent;
    }
    .slick-prev{
        right: 120px;
    }
    .slick-next{
        right: 50px;
    }
    .slick-disabled{
        border: 2px solid rgba($grey, 0.2);
    }
}
.blog-page{
    padding-top: 120px;
    &__inner{
        display: flex;
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__item{
        max-width: 830px;
        margin-right: 80px;
        margin-bottom: 50px;
    }
    &__image{
        width: 830px;
        height: 500px;
        position: relative;
        margin-bottom: 40px;
    }
    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__image-box{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 28px 30px 28px 20px;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image-link{
        color: #fff;
        font-size: 12px;
        @extend %rubik-400;
        padding-left: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            top: 0;
            left: 0;
            background-image: url("../images/icons/calendar.svg");
        }
    }
    &__image-link:not(:last-child){
        margin-right: 25px;
    }
    &__title{
        margin-bottom: 35px;
        text-align: left;
    }
    &__text{
        margin-bottom: 40px;
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
    }
    &__link{
        color: $grey;
        border: 1px solid $grey;
        padding: 19px 75px 19px 20px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 25px;
            right: 20px;
            width: 22px;
            height: 9px;
            background-image: url("../images/icons/arrow-next.svg");
        }
    }
    .pagination{
        text-align: left;
        margin-top: 75px;
    }
    &__form{
        display: flex;
        margin-bottom: 60px;
    }
    &__search{
        width: 220px;
        height: 43px;
        border-radius: 5px;
        border: 1px solid $grey;
        background-color: #ffffff;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
    &__search-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        width: 48px;
        cursor: pointer;
        border: 1px solid $grey;
        background-color: #edf1f4;
    }
    .shop-filter__card-image{
        min-width: 70px;
        padding: 0;
        border: none;
    }
    &__date{
        padding-left: 20px;
        position: relative;
        color: #9a9a9a;
        font-size: 12px;
        @extend %rubik-400;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 13px;
            height: 13px;
            background-image: url("../images/icons/calendar-grey.svg");
        }
    }
    .shop-filter__card-title{
        line-height: 20px;
    }
}
.blog-details{
    &__box{
        h3{
            color: #333333;
            @extend %rubik-400;
            font-size: 36px;
            margin-bottom: 25px;
        }
        h5{
            font-size: 16px;
            @extend %rubik-500;
            color: #243f4d;
            margin-bottom: 25px;
            line-height: 30px;
        }
        p{
            font-size: 16px;
            @extend %rubik-400;
            color: #243f4d;
            margin-bottom: 40px;
            line-height: 30px;
        }
        blockquote{
            padding: 25px 90px 25px 35px;
            background-color: rgba($grey, 0.2);
            border-left: 7px solid $grey;
            @extend %rubik-400;
            color: #243f4d;
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 30px;
            figcaption{
                padding-left: 40px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    background-color: $grey;
                    top: 13px;
                    left: 0;
                }
            }
        }
        img{
            max-width: 322px;
            margin-right: 30px;
            display: block;
        }
        article{
            margin: 45px 0;
            display: flex;
            align-items: center;
            h6{
                @extend %rubik-500;
                color: #243f4d;
                font-size: 18px;
                margin-bottom: 25px;
            }
            p{
                color: #565872;
                @extend %rubik-400;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }   
    &__author{
        padding: 25px 0;
        border-top: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }
    &__author-img{
        width: 76px;
        height: 76px;
        object-fit: cover;
        display: block;
        margin-right: 30px;
    }
    &__person{
        margin-right: auto;
    }
    &__name{
        color: #333333;
        font-size: 18px;
        @extend %rubik-500;
        margin-bottom: 20px;
    }
    &__position{
        color: #666666;
        font-size: 16px;
        @extend %rubik-400;
    }
    &__tags{
        margin-bottom: 15px;
        span{
            color: #333333;
            font-size: 16px;
            @extend %rubik-400;
            margin-right: 25px;
        }
        a{
            color: #999999;
            font-size: 16px;
            @extend %rubik-400;
        }
    }
    &__list{
        display: flex;
        span{
            color: #333333;
            font-size: 16px;
            @extend %rubik-400;
        }
        a{
            display: block;
            margin-left: 20px;
            path{
                fill: #a1a1a1;
            }
            &:hover{
                path{
                    fill: $accent;
                }
            }
        }
    }
    &__comments-title,
    &__form-title{
        text-align: left;
        color: $nav;
        font-size: 24px;
        @extend %rubik-700;
        margin-bottom: 30px;
    }
    &__comments-item{
        padding: 30px 0;
        display: flex;
    }
    &__comments-img{
        min-width: 100px;
        height: 100px;
        margin-right: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__comments-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__comments-name{
        color: $nav;
        font-size: 16px;
        @extend %rubik-700;
    }
    &__comments-date{
        color: #9e9e9e;
        font-size: 14px;
        @extend %rubik-400;
    }
    &__comments-text{
        color: #565872;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        margin-bottom: 25px;
    }
    &__comments-btn{
        color: #526278;
        font-size: 14px;
        @extend %rubik-400;
        position: relative;
        padding-right: 20px;
        &:after{
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            top: 2px;
            right: 0;
            background-image: url("../images/icons/arrow-reply.svg");
        }
    }
    &__comments-item--re{
        margin-left: 130px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-title{
        margin-top: 60px;
    }
    &__input{
        width: 400px;
        height: 50px;
        position: relative;
        input{
            border: 1px solid rgba(#000, 0.1);
            width: 100%;
            height: 100%;
            padding: 20px 35px 20px 20px;
            &::placeholder{
                color: #999999;
                font-size: 16px;
                @extend %rubik-400;
            }
        }
    }
    &__textarea{
        width: 100%;
        position: relative;
        textarea{
            width: 100%;
            resize: none;
            height: 120px;
            padding: 20px 40px 20px 20px;
            margin: 20px 0 40px;
            border: 1px solid rgba(#000, 0.1);
            &::placeholder{
                color: #999999;
                font-size: 16px;
                @extend %rubik-400;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 40px;
            right: 15px;
            width: 18px;
            height: 13px;
            background-image: url("../images/icons/mail.svg");
        }
    }
    &__input-name::after{
        content: "";
            position: absolute;
            top: 18px;
            right: 15px;
            width: 14px;
            height: 14px;
            background-image: url("../images/icons/user.svg");
    }
    &__input-mail::after{
        content: "";
        position: absolute;
        top: 18px;
        right: 15px;
        width: 18px;
        height: 13px;
        background-image: url("../images/icons/mail.svg");
    }
    &__form-btn{
        background-color: $grey;
        color: #fff;
        font-size: 14px;
        @extend %rubik-400;
        padding: 16px 37px;
        text-transform: uppercase;
        border-radius: 5px;
    }
}
.contacts-top{
    padding: 120px 0;
    &__subtitle{
        color: $grey;
        font-size: 16px;
        @extend %rubik-700;
        margin-bottom: 20px;
        text-align: center;
    }
    &__title{
        margin-bottom: 75px;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fbfbfb;
        padding: 70px 60px;
        transition: all 0.3s;
        border: 2px solid #fbfbfb;
    }
    &__card-img{
        width: 80px;
        height: 80px;
        box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 65px;
        border-radius: 15px;
        transition: all 0.3s;
        path{
            fill: $grey;
        }
    }
    &__card-name{
        @extend %dmsans-700;
        color: #222222;
        font-size: 20px;
        margin-bottom: 25px;
    }
    &__card-descr{
        font-size: 16px;
        @extend %rubik-400;
        color: #565872;
        line-height: 30px;
        text-align: center;
        a{
            font-size: 16px;
            @extend %rubik-400;
            color: #565872;
        }
    }
    &__card:hover{
        border: 2px solid $grey;
        .contacts-top__card-img{
            background-color: $grey;
            box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
            path{
                fill: #fff;
            }
        }
    }
}
.contact-bottom{
    &__inner{
        display: flex;
        column-gap: 50px;
    }
    &__form{
        width: 65%;
    }
    &__map{
        width: 45%;
    }
    .blog-details__input{
        width: 300px;
        input{
            background-color: rgba(#f5f5f5, 0.5);
            &::placeholder{
                color: #565872;
                text-transform: uppercase;
            }
        }
    }
    .blog-details__textarea{
        textarea{
            background-color: rgba(#f5f5f5, 0.5);
            height: 175px;
            &::placeholder{
                color: #565872;
                text-transform: uppercase;
            }
        }
    }
}
@import 'media';